# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Builds
build/
**/GeneratedPluginRegistrant.*
**/flutter_export_environment.sh

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/Flutter/Flutter-*.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Android
android/.gradle/
android/**/local.properties
*.iml

# IDE
.idea/
.vscode/

# SO
.DS_Store
Thumbs.db

# Duplicados accidentales con sufijo “ 2”
* 2/
